@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Russo+One&family=Teko:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

.logo {
    width: 100%; /*modifica della dimensione del logo*/
    max-width: 500px;
    height: auto;
    object-fit: contain;
}

body, p {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1rem; /*1rem corrisponde ad un 16px*/
    line-height: 1.6;
    color: black;
}

/*h1 e h2 con font Russo One*/
h1 {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem; 
    line-height: 1.2;
    color: #000000;
}

h2 {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.1875rem; /*35px*/  
    line-height: 1.285;   /*45px*/
    color: #000000;
    margin-bottom: 1.25rem;
}

/* Sottotitoli, bottoni e pulsanti con font Teko */
h3, h4, button, .btn {
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem; 
    line-height: 1.1;
    letter-spacing: 0.5px; 
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0,4rem 1rem;
    flex-wrap: wrap;
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

    /* SFONDO COLORE FUMETTO AMERICANO*/
    background-color: #0046be;
    
    /* Opzionale: un bel bordo nero spesso in perfetto stile fumetto */
    border-bottom: 0.2rem solid black;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
}

#navbar li {
    list-style: none;   /*elimino il pallino della lista*/
    padding: 1rem 3rem;
    position: relative; 
}

#navbar li a {
    text-decoration: none;  /*tolgo la sottolineatura*/
    font: 400px;
    font-weight: 600;
    color: rgba(237,29,36);
    transition: 0.3s ease;      /*aggiunto della lentezza alla transizione in modo che risulti più fluida*/
}

/*Effetto hover al passaggio del mouse sugli elementi della navbar*/
#navbar li a:hover,
#navbar li a.active {   /*colore sempre attivo per la pagine in focus*/
    color:  rgb(240, 200, 70);      /*cambio colore al passaggio del cursore sul testo*/
}

#navbar li a.active::after {
    content: "";
    width: 30%;
    height: 0.2rem;
    background: rgb(240, 200, 70);
    position: absolute;
    bottom: -0.2rem;
    left: 2rem;
}

/*--- HOME PAGE ---*/
#hero {
    background-image: url('../images/sfondo_hero.png');
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: top 25% right 0; /* blocco immagine a destra */
    background-repeat: no-repeat;   /*nessuna ripetizione*/
    
    padding: 10rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h2 {
    font-size: 3.75rem;
    margin-bottom: 1rem;
    line-height: 1.2;
    color: rgb(240, 200, 70);
}

#hero h4 {
    font-size: 2.2rem;
}

#hero p{
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 700;
    padding-bottom: 1.5rem;
    color: rgba(237,29,36);
}

#hero .btn{
    background-image: url('../images/bottone_shopping.png');
    background-color: transparent;      /*rendere lo sfondo trasparente*/
    color: black;
    border: 0;
    
    /*Scalo correttamente lo sfondo*/
    background-size: 100% 100%;     /*per coprire tutto il bottone*/
    background-position: center;    /*centro l'immagine*/
    background-repeat: no-repeat;   /*nessun duplicato*/

    /*Imposto la dimensione del bottone*/
    min-width: 220px;
    height: 65px;       /*altezza fissa così evito che si deformi il rettangolo*/

    /*Allineamento del testo all'interno del bottone*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
}