@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Russo+One&family=Teko:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

.logo {
    width: 100%; /*modifica della dimensione del logo*/
    max-width: 500px;
    height: auto;
    object-fit: contain;
}

body, p {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1rem; /*1rem corrisponde ad un 16px*/
    line-height: 1.6;
    color: black;
}

/*h1 e h2 con font Russo One*/
h1 {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem; 
    line-height: 1.2;
    color: #000000;
}

h2 {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.1875rem; /*35px*/  
    line-height: 1.285;   /*45px*/
    color: #000000;
    margin-bottom: 1.25rem;
}

/* Sottotitoli, bottoni e pulsanti con font Teko */
h3, h4, button, .btn {
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem; 
    line-height: 1.1;
    letter-spacing: 0.5px; 
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0,4rem 1rem;
    flex-wrap: wrap;
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

    /* SFONDO COLORE FUMETTO AMERICANO*/
    background-color: #0046be;
    
    /* Opzionale: un bel bordo nero spesso in perfetto stile fumetto */
    border-bottom: 0.2rem solid black;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
}

#navbar li {
    list-style: none;   /*elimino il pallino della lista*/
    padding: 1rem 3rem;
}

#navbar li a {
    text-decoration: none;  /*tolgo la sottolineatura*/
    font: 400px;
    font-weight: 600;
    color: rgba(237,29,36);
}

#navbar li a:hover {
    color:  rgb(240, 200, 70);      /*cambio colore al passaggio del cursore sul testo*/
}

